
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>登录页面 - 光年(Light Year Admin)后台管理系统模板</title>
    <link rel="icon" href="~/favicon.ico" type="image/ico">
    <meta name="keywords" content="LightYear,光年,后台模板,后台管理系统,光年HTML模板">
    <meta name="description" content="LightYear是一个基于Bootstrap v3.3.7的后台管理系统的HTML模板。">
    <meta name="author" content="yinqi">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  .
    <link href="~/Content/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Content/style.min.css" rel="stylesheet" />

    <style>
        .lyear-wrapper {
            position: relative;
        }

        .lyear-login {
            display: flex !important;
            min-height: 100vh;
            align-items: center !important;
            justify-content: center !important;
        }

            .lyear-login:after {
                content: '';
                min-height: inherit;
                font-size: 0;
            }

        .login-center {
            background: #fff;
            min-width: 29.25rem;
            padding: 2.14286em 3.57143em;
            border-radius: 5px;
            margin: 2.85714em;
        }

        .login-header {
            margin-bottom: 1.5rem !important;
        }

        .login-center .has-feedback.feedback-left .form-control {
            padding-left: 38px;
            padding-right: 12px;
        }

        .login-center .has-feedback.feedback-left .form-control-feedback {
            left: 0;
            right: auto;
            width: 38px;
            height: 38px;
            line-height: 38px;
            z-index: 4;
            color: #dcdcdc;
        }

        .login-center .has-feedback.feedback-left.row .form-control-feedback {
            left: 15px;
        }
    </style>
</head>

<body style="background-image:url(https://t8.baidu.com/it/u=4023718973,1508138506&fm=193);background-size:100% 100%">
    <div class="row lyear-wrapper">
        <div class="lyear-login">
            <div class="login-center">
                <div class="login-header text-center">
                    <a href="index.html"> <img alt="light year admin" src="~/Content/patterns/heade.png"> </a>
                </div>
                <form action="#" method="get" id="form">
                    <div class="form-group has-feedback feedback-left">
                        <input type="text" placeholder="请输入您的用户名" class="form-control" name="UserPhone" id="UserPhone" />
                        <span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback feedback-left">
                        <input type="password" placeholder="请输入密码" class="form-control" id="UserPwd" name="UserPwd" />
                        <span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group">

                        <button id="Login" class="btn btn-block btn-primary" type="button">立即登录</button>
                    </div>
                </form>
                <hr>
                <footer class="col-sm-12 text-center">
                    <h1>
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=1817172264&site=qq&menu=yes" class="qqzixun">QQ咨询</a>
                    </h1>
                    <p class="m-b-0">Copyright © 2019 <a href="http://lyear.itshubao.com">IT书包</a>. All right reserved</p>
                </footer>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    @*<script src="~/Scripts/jquery-3.5.1.intellisense.js"></script>*@
    @*//<script src="~/Scripts/jquery.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(function () {

            $("#Login").click(function () {
                $.ajax({
                    url: "/Login/GetDecryptionString",
                    type: "get",
                    data: formToJson($("#form")),
                    //dataType: 'json',
                    //contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        window.location.href = data.roestr;


                    }
                })
            })
        })

        function formToJson(form) {
            var data = {};
            var formarry = $(form).serializeArray();
            $(formarry).each(function (i, v) {
                data[v.name] = v.value;
            })
            console.log(data);
            return data;
        };
    </script>
</body>
</html>
